<%- include("partials/header.ejs") %>

    <div class="card-container">
        <div class="row">
            <div class="col-md-4">
                <a href="today" class="link" style="text-decoration: none; color: inherit;">
                    <div class="card card-1">
                        <h3>Today's Todo List!</h3>
                        <p>Save your tasks that need to be completed today!</p>
                    </div>
                </a>
            </div>
            
            <div class="col-md-4">
                <a href="work" class="link" style="text-decoration: none; color: inherit;">
                    <div class="card card-2">
                        <h3>Work Todo List!</h3>
                        <p>Save your tasks related to study, sports, art, travel!</p>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <%- include("partials/footer.ejs") %>